<!--
    Title: about.component.html.
    Author: Jamal Eddine Damir
    Date: February 22, 2023
    Description: about.component.html file
    Sources:
            * Source code from class GitHub Repository
            * W3Schools.com
            * Instructor provided assignment specific instructions
-->

<div fxLayout="column" class="blue">
	<h1 class="yellow">{{ title }}</h1>

	<mat-card class="about">
		<mat-card-content>
			<p>
				Welcome to our loan calculator app! Here at house Raven Claw We're
				passionate about providing you with a powerful financial tool that helps
				you make informed decisions about your loans. Our app is designed to
				calculate your monthly payments and interest rates quickly and
				accurately, so you can get a clear picture of your loan and its
				potential impact on your finances. <br />
				Whether you're looking to take out a new loan, refinance an existing
				one, or simply want to explore your options, our loan calculator app is
				here to help. With our user-friendly interface and advanced algorithms,
				you can easily input your loan information and get instant results. We
				believe that financial literacy is crucial to building a better future,
				and we're committed to empowering you with the knowledge and tools you
				need to make smart financial choices.
			</p>
		</mat-card-content>
	</mat-card>
</div>
