<!--
    Title: contact.component.html.
    Author: Jamal Eddine Damir
    Date: February 22, 2023
    Description: contact.component.html file
    Sources:
            * Source code from class GitHub Repository
            * W3Schools.com
            * Instructor provided assignment specific instructions
-->

<div fxLayout="column" class="blue">
	<h1 class="yellow">{{ title }}</h1>

	<mat-card class="contact">
		<mat-card-content>
			<p>
				<i class="material-icons md-">phone</i><br />
				505 Main Street<br />
				Omaha<br />
				Nebraska, 681234
			</p>
		</mat-card-content>
	</mat-card>
	<mat-card class="contact">
		<mat-card-content>
			<p>
				<i class="material-icons md-">email</i><br />
				- Direct: 555-555-5555 <br />
				- Toll-Free: 1-800-555-5555<br />
				- Fax: 555-555-555
			</p>
		</mat-card-content>
	</mat-card>
</div>
