@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");

h1 {
  text-align: center;
  margin-top: 5%;
  font-family: "Carter One", cursive;
}
.loan-form {
  width: 35%;
  margin: 50px auto;
}

.blue {
  background-color: #1a55a4;
  height: 100%;
}
.light-blue {
  background-color: #3c6fb2;
}
.yellow {
  color: #fbbf2c;
}
